.pdf_widget {
    position: relative;
    top: 78px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 5;
}

.pop_up legend {
    font-size: 18px;
}

.space_btw_radio {
    margin-right: 10px;
}

.radio_offset {
  margin-right: 30px;
}

.pop_up {
    background-color: #dabdb6;
    padding: 20px;
    border-radius: 2px;
}

#create_pop_up {
    width: 500px;
    height: 404px;
}

.create_orientation {
  display: flex;
  flex-direction: row;
}

#blank_pages, #blank_width, #blank_height, #dinasize {
  margin-left: 20px;
}

.pop_bottom_pad {
    padding-bottom: 20px;
}

.split_widget {
  height: 320px;
}

#split_pop_up {
    width: 500px;
}

#save_split {
  position: relative;
  top: 10px;
}

.filename_hover {
  display: none;
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px;
  z-index: 20;
}

#save_blank:hover + .filename_hover, .enable_filename:hover + .filename_hover {
  display: flex;
  flex-direction: column;
}

.filename_hover:hover {
  display: flex;
  flex-direction: column;
}

.merge_widget {
  height: 700px;
}

.scrollwrapper {
  position: relative;
  top: 20px;
}

.merge_filename_box {
  position: relative;
  top: 0;
  width: 460px;
}

.merge_btns {
  display: flex;
  flex-direction: row;
}

.slist {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    height: 80%;
    position: relative;
    top: 40px;
    width: 460px;
    height: 580px;
    overflow-y: auto;
    overflow-x: hidden;
}

.slist li {
  padding: 15px;
  overflow: hidden;
  width: 460px; 
  margin-bottom: 10px;  
}

#splitlist {
  margin-left: 10px;
}

.next_to_open {
  display: flex;
  flex-direction: row;
}

.dir_row_left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}